<div>
    <p>Subscribe to feed</p>
    <form (ngSubmit)="submit()" [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Group</mat-label>
            <mat-select formControlName="groupIndex" placeholder="Group">
                <mat-option *ngFor="let group of store.groups; let groupIndex = index" [value]="groupIndex">{{group.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('groupIndex').errors?.required">Group is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Feed URL</mat-label>
            <input matInput formControlName="url" type="url" placeholder="https://example.com/rss" />
            <mat-error *ngIf="form.get('url').errors?.required">URL is required</mat-error>
            <mat-error *ngIf="form.get('url').errors?.pattern">Invalid URL</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Feed name</mat-label>
            <input matInput formControlName="name" type="text" placeholder="Name" />
            <mat-error *ngIf="form.get('name').errors?.required">Name is required</mat-error>
        </mat-form-field>
        <button mat-mini-fab type="submit" [disabled]="form.invalid" color="primary">
            <mat-icon>check</mat-icon>
        </button>
    </form>
</div>
