<div>
    <p>Create new group</p>
    <form (ngSubmit)="submit()" [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Group name</mat-label>
            <input matInput formControlName="name" type="text" placeholder="Name" />
            <mat-error *ngIf="form.get('name').errors?.required">Name is required</mat-error>
        </mat-form-field>
        <button mat-mini-fab type="submit" [disabled]="form.invalid" color="primary">
            <mat-icon>check</mat-icon>
        </button>
    </form>
</div>
