<div class="spacer"></div>
<div class="title">{{group.name}}</div>
<div class="actions">
    <button mat-mini-fab matTooltip="Rename">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Delete" [disabled]="group.subscriptions.length > 0" (click)="confirmGroupDeletion()">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Move up" [disabled]="first">
        <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Move down" [disabled]="last">
        <mat-icon>arrow_downward</mat-icon>
    </button>
</div>
